@model IEnumerable<Gig>

@{
    ViewData["Title"] = "Home Page";
}

<ul class="gigs">
    @foreach(var gig in Model)
    {
       <li>
           <div class="date">
               <div class="month">
                   @gig.DateTime.ToString("MMM")
               </div>
               <div class="day">
                   @gig.DateTime.ToString("d ")
               </div>
           </div>

           <div class="details">
               <span class="artist">
                   @gig.Artist.Name
               </span>
               <span class="genre">
                   @gig.Genre.Name
               </span>

               <button type="button" class=" ml-4 btn-sm btn-outline-info float-right js-toggle-attendance" data-gig-id="@gig.Id">Going?</button>

            </div>
       </li>
    }
</ul>

@section Scripts{ 
    
    <script type="text/javascript">
        
        $(document).ready(function () {

            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                console.log(button);

                var data = { objId: 1 };
                $.ajax({
                    url: "/api/attendances",
                    type: "POST",
                    data: data,
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        alert('Rating set successfully');
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });

            });


            // $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
            //    $.post(`/api/attendances/${button.attr("data-gig-id")}/`)
            //        .done(function () {
            //            button
            //                .removeClass("btn-default")
            //                .addClass("btn-info")
            //                .text("Going");
            //        })
            //        .fail(function () {
            //            alert("Something failed!");
            //        });

        });

    </script>

}
